/* alertStyles.css */
.dialog-pane {
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-border-color: #444;
    -fx-border-width: 2;
    
}

.dialog-pane .header-panel {
    -fx-background-color: white;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    
}

.dialog-pane .header-panel .label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.dialog-pane .content {
    -fx-padding: 10;
    -fx-text-fill: black;
}

.dialog-pane .button-bar {
    -fx-background-radius: 0 0 10 10;
    -fx-border-radius: 0 0 10 10;
}

.button{
    -fx-background-color: rgba(0, 140, 255, 0.5);
    -fx-text-fill: white;
    -fx-font-size: 14;
    -fx-cursor: hand;
    -fx-background-radius: 10;


}


#botonAceptar{
    -fx-background-color:#0685BC;
    -fx-text-fill:white;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-font-size: 14;
}

#botonAceptar:hover{
    -fx-background-color:  #0685BC;
}

#botonCancelar{
    -fx-background-color:  #0685BC;
    -fx-text-fill:white;
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-font-size: 14;

}
#botonCancelar:hover{
    -fx-background-color: rgba(255,0,0,0.6);

}